/* You can add global styles to this file, and also import other style files */

html{
  margin: 20px;
}

.heading{
   color: white;
   text-align: center;
   background-color: #365776;
   padding: 20px;
}

.main-container{
  background-color: #DCDDDF;
  padding-bottom: 20px;
}

.main-heading{
    font-weight: bold;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.name{
     border-right: solid 2px;
}

.address{
     color: #666666;
}

.location-icon{
    color: #F0DE90;
}

.margin-top-element{
    margin-top: 20px;
}

.margin-bottom-element{
    margin-bottom: 20px;
}

.btn-rounded{
  border: solid 0px;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  color: white;
  background-color: #057dad;
}

.driver{
  background: #057dad;
  text-align: center;
  color: white;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


.not-driver{
  text-align: center;
  padding: 20px;
  border: solid 3px #057dad;
  border-left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.driver-no-driver{
    padding: 15px;
}


.hours span{
  font-size: 24px
}

.hours i, span{
   padding: 5px;
   margin-left: 5px;
   margin-right: 5px;
}

.hours i{
    font-size: 16px;
    border: solid 3px;
    border-radius: 16px;
}

.fa-plus{
    color: green;
}

.fa-minus{
   color: red;
}

.add-hours{
  border: solid 2px green;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  color: green;
}

.vertical-align{
  vertical-align: middle;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.add-hours span{
    color: green;
}
