

.employee-card{
  border: solid 1px #BBBBBB;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  margin: 20px;
  padding: 20px;
  color: #AAAAAA;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

span.hours-disp{
  display: inline-block;
  text-align: center;
  width: 60px;
}

a#back{
  color: white;
}

#employee-list-header .address{
    color: white;
}

